.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* App contents */
#main-container {
  background-color: #002038;
}

#content-container {
  justify-content: center;
}

#intro-container {
  height: 100vh;
  background: url(home-page-background.png);
  background-size: cover;
  background-position: center;
}

  #intro-middle-container {
   padding-top: 80px;
  }

    #intro-hello {
      color: #39d486;
      font-size: 20px;
      letter-spacing: 2px;
      margin: 0;
    }

    #intro-name {
      color: #dfe7ed;
      margin: 5px 10px;
      letter-spacing: 3px;
      font-size: 40px;
    }

    #intro-description {
      color: #99b5c7;
      margin: 0 30px;
      margin-top: 12px;
      font-size: 20px;

    }

  #intro-button {
    margin-top: 670px;
  }
  
    #intro-button a {
      font-size: 16px;
      letter-spacing: 2px;
      border: 1px solid #39d486;
      padding: 8px 16px;
      border-radius: 5px;
    }

      #intro-button:hover {

      }

/* #fireflies-container {
  height: 20vh;
  width: 100vw;
}

  .dot{
    width:4px;
    height:4px;
    position:absolute;
    background-color:#ff00cc;
    box-shadow:0px 0px 10px 2px #ff00cc;
    border-radius: 20px;
    z-index:2;
  } */

html {
  scroll-behavior: smooth;
  }

.heading {
  color: #dfe7ed;
}

p, li {
  color: #99b5c7;
  text-align: left;
}

li::before {
  color: #39d486;
  content: "\f066";
  display: inline-block;
  font-size: 1em;
}

a {
  color: #39d486;
  text-decoration: none;
}



